# Default owner
@admin

# For admin only
/yaml/** @DevOps-team-example/Teams/admin
/scripts/** @DevOps-team-example/Teams/admin

# For DevOps team
/azure/Azure-pipeline.yaml @DevOps-team-example/Teams/DevOps
/files/** @DevOps-team-example/Teams/DevOps

